@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body{
    font-family: sans-serif;
    background-color: #42A4A4;
    max-width: 100%;
    height: 300vh;
    overflow-x: hidden;
}

.header{
  padding-inline: 100px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
}

header.roll{
  background-color: #378080;
  padding: 5px 4%;
}

.nav{
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: 100px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  padding: 10px;
}

.logo{
  width: 70px;
}

.nav-list{
  display: flex;
  gap: 90px;
  list-style: none;
}

.nav-list a{
  font-size: 25px;
  color: #fff;
  padding-block: 16px;
  position: relative;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.nav-list a::after{
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.nav-list a:hover::after{
  width: 100%;
}

.hamburger{
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.logo_Marca{
  display: flex;
  align-items: center;
}

.logoMarca{
  padding: 10px;
  color: white;
  font-size: 30px;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.hamburger::before,
.hamburger::after{
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.btn_{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: 'Permanent Marker', cursive;
}

.button{
  width: 220px;
  height: 60px;
  font-size: 25px;
  background-color: #378080;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  transition: transform 200ms ease-in-out;
  box-shadow: rgb(38, 57, 77) 5px 6px 19px 0px;
  cursor: pointer;
}

.button:hover{
  transform: scale(1.05);
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.container_primary{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
  width: 100%;
}

  .box{
    position: relative;
    z-index: 1;
    width: 500px;
  }

  .box img{
    width: 100%;
    transform: scale(1.5) rotate(10deg);
  }

  .info{
    border: 5px solid white;
    padding: 20px;
    color: white;
    border-radius: 15px;
    background-color: #378080;
    box-shadow: rgb(38, 57, 77) 18px 19px 30px -10px;
    text-align: center;
    font-size: 20px;
    transition: transform 600ms ease-in-out;
  }

  .info:hover{
    transform: scale(1.05);
  }

  .info:hover h1{
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }

  .container_template{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    align-items: center;
    transition: transform 600ms ease-in-out;
  }

  .container_template:hover{
    transform: scale(1.04);
  }

  .container_template:hover h5{
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }

  .flex{
    width: 90%;
  }

  .info_2{
    display: flex;
    justify-content: space-between;
    background-color: #378080;
    gap: 1.5;
  }

  .info_2 span{
    width: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding: 20px;
  }

  .card{
    background-color: #378080;
    border: 2px solid white;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 18px 19px 30px -10px;
  }

  .title_2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 50px;
  }

  .title h1 {
    color: #fff;
    width: 45%;
    display: flex;
    justify-content: center;    
    text-align: center;
    margin: 20vh auto 130px;
    font-size: 50px;
    position: relative;
    padding: 50px;
    transition: margin 0.5s; 
}

.title:hover h1 {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

  .title h1::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    gap: 20px;
  }

  .title h1:hover::after{
    width: 100%;
  }


  div .img{
    width: 50%;
    overflow: hidden;
  }

  .img img{
    width: 100%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    
  }

  .container-sobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 200px;
    align-items: center;
  }

  .box-info{
    width: 50%;
    border: 5px solid  #fff;
    padding:30px;
    color: #fff;
    background-color: #378080;
    box-shadow: rgb(38, 57, 77) 18px 19px 30px -10px;
    transition: 0.5s;
    line-height: 20px;
    border-radius: 10px;
    margin-right: 600px;
  }

  .box-info h1{
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .box-info:hover{
    transform: scale(1.05);
  }
  
  .box-info .title_3:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  }

  .form_contato{
    width: 50%;
    border: 2px solid white;
    background-color: #378080;
    box-shadow: rgb(38, 57, 77) 18px 19px 30px -10px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    margin-left: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .form_contato h2{
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .form_contato:hover{
    transform: scale(1.05);
  }

  .form_contato .contact_title:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  }

  .contact textarea{
    margin-top: 10px;
    background: #214e4e;
    color: #000000;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow:  0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }

  .contact input{
    width: 100%;
  }

  .contact .text-box:first-child{
    margin-right: 10px;
  }

  .contact .text-box{
    padding: 12px;
    background: #214e4e;
    color: #ffffff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow:  0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }

  .contact .send-btn{
    border-radius: 2px;
    background-color: #214e4e;
    border: 1px solid #fff;
    color: #fff;
    height: 40px;
  }

  .form_contato h2{
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  ::-webkit-scrollbar{
    width: 10px;
    background-color: #378080;
}

::-webkit-scrollbar-thumb{
    background-color: #42A4A4;
    border: 1px solid #fff;
}


@media (max-width: 1450px){
  .title h1{
    width: 50%;
  }
}

@media (max-width: 1024px){
  .box{
    width: 350px;
  }
   .container_primary{
    display: flex;
   }

   .title h1{
    font-size: 30px;
  }

  .box-info{
    margin-right: 300px;
  }

  .form_contato{
    margin-left: 300px;
  }
}

@media (max-width: 900px){
  .container_primary{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info{
    width: 100%;
  }

  .box img{
    display: none;
  }
 
  .btn_{
    display: flex;
    justify-content: center;
  }

  .nav-list a {
    padding: 5px;
    font-size: 15px;
  }

  .logo{
    width: 55px;
  }

  .logoMarca{
    font-size: 25px;
  }

  .info_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .info_2 span, img{
    width: 100%;
  }

  div .img{
    width: 100%;
  }

  .info_2 img{
    border-radius: 0px 0px 0px 0px;
  }

  .flex{
    width: 50%;
  }

  .box-info span{
    font-size: 13px;
  }

  .box-info h1{
    font-size: 25px;
    padding-bottom: 10px;
  }

  .form_contato h2{
    font-size: 25px;
  }

  .contact textarea{
    margin-bottom: 50px;
  }
}

@media (max-width: 768px){
  .info{
  font-size: 15px;
  }

  .info h1{
    font-size:25px;
  }

  .logo{
    width: 45px;
  }

  .logoMarca{
    font-size: 20px;
  }

  .btn_ button{
    width: 230px;
    height: 55px;
    font-size:15px;
  }

  .flex{
    width: 90%;
  }

  .info_2 span{
    font-size:15px;
  }

  .title_2{
    font-size: 25px;
  }

  .title h1{ 
    width: 80%;
    font-size: 40px;
  }
  
  .box-info{
      width: 400px;
    }
  
  .form_contato{
      width: 400px;
    }
}

@media (max-width: 704px){
  .box-info{
    width: 500px;
    margin-right: 0px;
  }

  .form_contato{
    width: 500px;
    margin-left: 0px;
  }

  .title h1{
    width: 85%;
  }

  .nav-list{
    display: none;
  }

  .info_2 span{
    font-size: 13px;
  }

  .title_2{
    font-size: 22px;
  }

  .flex{
    width: 80%;
  }

}

@media (max-width: 425px){
  .box-info{
    width: 350px;
  }

  .box-info span{
    font-size: 15px;
    line-height: 0;
  }

  .title h1{
    font-size: 22px;
  }

  .box-info h1{
    font-size: 20px;
    padding-bottom: 10px;
  }

  .form_contato{
    width: 350px;
  }

  .contact_title h2{
    font-size: 10px;
  }

  .info_2 span{
    line-height: 15.5px;
    font-size: 15px;
  }
}

@media (max-width: 375px){
  .info h1{
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
  }

  .container_primary{
    width: 100%;
  }

  .btn_ {
    margin-top: 100px;
  }

  .title h1{
    width: 90%;
    font-size: 20px;
  }

  .box-info{
    width: 300px;
  }

  .box-info span{
    font-size: 12.5px;
  }

  .form_contato{
    width: 300px;
  }

  .container-sobre{
    margin-top: 0px;
  }
}

@media (max-width:320px){
  .info span{
    font-size: 14px;
  }

  .info h1{
    font-size: 20px;
  }

  .box{
    width: 250px;
  }

  .logo{
    width: 50px;
  }

  .logoMarca{
    font-size: 25px;
  }

  .header{
    padding-inline: 50px;
  }

  .info_2 span{
    font-size: 12.5px;
  }

  .info_2 img{
    height: 150px;
    border-radius: 0px 0px 0px 0px;
  }

  .title_2{
    margin-bottom: 15px;
  }

  .box-info{
    width: 280px;
  }

  .box-info span{
    font-size: 13px;
  }

  .form_contato{
    width: 280px;
  }
}